/* Any copyright is dedicated to the Public Domain.
 * http://creativecommons.org/publicdomain/zero/1.0/ */

html {
    font-size: 62.5%;
    background: #fafafa;
    color: #1a1a1a;
}

/*
* Noto Sans Japanese (japanese) http://www.google.com/Fonts/NotoSansCJKjp/earlyaccess
*/
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-display: block;
    font-weight: 100;
    src: url('../Fonts/NotoSansCJKjp/Thin/NotoSansCJKjp-Thin.min.woff2') format('woff2'),
        url('../Fonts/NotoSansCJKjp/Thin/NotoSansCJKjp-Thin.min.woff') format('woff'),
        url('../Fonts/NotoSansCJKjp/Thin/NotoSansCJKjp-Thin.min.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-display: block;
    font-weight: 200;
    src: url('../Fonts/NotoSansCJKjp/Light/NotoSansCJKjp-Light.min.woff2') format('woff2'),
        url('../Fonts/NotoSansCJKjp/Light/NotoSansCJKjp-Light.min.woff') format('woff'),
        url('../Fonts/NotoSansCJKjp/Light/NotoSansCJKjp-Light.min.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-display: block;
    font-weight: 300;
    src: url('../Fonts/NotoSansCJKjp/DemiLight/NotoSansCJKjp-DemiLight.min.woff2') format('woff2'),
        url('../Fonts/NotoSansCJKjp/DemiLight/NotoSansCJKjp-DemiLight.min.woff') format('woff'),
        url('../Fonts/NotoSansCJKjp/DemiLight/NotoSansCJKjp-DemiLight.min.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url('../Fonts/NotoSansCJKjp/Regular/NotoSansCJKjp-Regular.min.woff2') format('woff2'),
        url('../Fonts/NotoSansCJKjp/Regular/NotoSansCJKjp-Regular.min.woff') format('woff'),
        url('../Fonts/NotoSansCJKjp/Regular/NotoSansCJKjp-Regular.min.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-display: block;
    font-weight: 500;
    src: url('../Fonts/NotoSansCJKjp/Medium/NotoSansCJKjp-Medium.min.woff2') format('woff2'),
        url('../Fonts/NotoSansCJKjp/Medium/NotoSansCJKjp-Medium.min.woff') format('woff'),
        url('../Fonts/NotoSansCJKjp/Medium/NotoSansCJKjp-Medium.min.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-display: block;
    font-weight: 700;
    src: url('../Fonts/NotoSansCJKjp/Bold/NotoSansCJKjp-Bold.min.woff2') format('woff2'),
        url('../Fonts/NotoSansCJKjp/Bold/NotoSansCJKjp-Bold.min.woff') format('woff'),
        url('../Fonts/NotoSansCJKjp/Bold/NotoSansCJKjp-Bold.min.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-display: block;
    font-weight: 900;
    src: url('../Fonts/NotoSansCJKjp/Black/NotoSansCJKjp-Black.min.woff2') format('woff2'),
        url('../Fonts/NotoSansCJKjp/Black/NotoSansCJKjp-Black.min.woff') format('woff'),
        url('../Fonts/NotoSansCJKjp/Black/NotoSansCJKjp-Black.min.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans Japanese Mono';
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url('../Fonts/NotoSansCJKjp/Mono-Regular/NotoSansMonoCJKjp-Regular.min.woff2') format('woff2'),
        url('../Fonts/NotoSansCJKjp/Mono-Regular/NotoSansMonoCJKjp-Regular.min.woff') format('woff'),
        url('../Fonts/NotoSansCJKjp/Mono-Regular/NotoSansMonoCJKjp-Regular.min.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese Mono';
    font-style: normal;
    font-display: block;
    font-weight: 700;
    src: url('../Fonts/NotoSansCJKjp/Mono-Bold/NotoSansMonoCJKjp-Bold.min.woff2') format('woff2'),
        url('../Fonts/NotoSansCJKjp/Mono-Bold/NotoSansMonoCJKjp-Bold.min.woff') format('woff'),
        url('../Fonts/NotoSansCJKjp/Mono-Bold/NotoSansMonoCJKjp-Bold.min.ttf') format('truetype');
}

.noto {
    font-family: 'Noto Sans Japanese', serif;
    font-style: normal;
}

.noto.\+mono {
    font-family: 'Noto Sans Japanese Mono';
    font-style: normal;
}

.noto.\+250 {
    font-weight: 100;
}

.noto.\+300 {
    font-weight: 200;
}

.noto.\+350 {
    font-weight: 300;
}

.noto.\+400 {
    font-weight: 400;
}

.noto.\+500 {
    font-weight: 500;
}

.noto.\+700 {
    font-weight: 700;
}

.noto.\+900 {
    font-weight: 900;
}

#header_wrap {
    width: 100%;
    max-width: 640px;
    margin: 0 auto 4rem;
    padding: 0 1rem;
    border-top: 5px solid #47b7cc;
    box-sizing: border-box;
}

.main_content_wrap {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

.main_content_font_wrap {
    width: 100%;
    max-width: 960px;
    margin: 5em auto 8em;
    padding: 0 1rem;
    box-sizing: border-box;
}



#project_title {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 2.0rem;
    color: #47b7cc;
}

#project_tagline {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.main_content .inner {
    margin-bottom: 5rem;
}

.main_content h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.main_content p {
    font-size: 1.6rem;
    line-height: 2;
    text-align: justify;

}

.main_content ul {
    font-size: 1.8rem;
    line-height: 2;
}

.main_content_font h1 {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.main_content_font p {
    font-size: 2.5rem;
    line-height: 1.5;
    border: 1px dashed #aaa;
    padding: .5em;
    box-sizing: border-box;
    border-radius: 5px;
}

#footer_wrap {
    width: 100%;
    max-width: 640px;
    margin: 5rem auto 0;
    padding: 0 1rem;
    box-sizing: border-box;
    
    font-size: 1.4rem;
    line-height: 1.8;
    font-family: Helvetica Neue,Helvetica,Arial,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,sans-serif;
}
